<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>triangel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        .sanj{
            border-width: 10px;
            border-style: solid;
            width: 0;
            height: 0;
            border-color: transparent transparent transparent #333;
            /* width: 10px;
            height: 10px;
            border: 5px solid transparent; */
        }
    </style>
</head>
<body>
    <div class="sanj"></div>
    <div class="arrow"></div>
</body>
</html>